@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #0065CA;
  --white-color: #fff;
  --text-color: #333;
  --black-color: #000;
  --yellow-color: #FEBD17;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.header {
  background-color: var(--primary-color);
  margin-bottom: 5rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem 0 3rem;
}

.start {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start .logo {
  height: 5em;
  margin: 1.25em 0.25em 1.25em 0;
}
.start .line-verti {
  display: none;
}
.start .uni-name {
  line-height: 1.25em;
  font-size: 1.5em;
  font-weight: bolder;
  color: #fff;
  margin-left: 5px;
}
.start .NEU-m {
  font-size: 1.25em;
}
.start .NEU-d {
  display: none;
}
.start .DHCQ {
  font-size: 0.75rem;
  color: var(--yellow-color);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 0 5px;
}
nav a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
nav .noti {
  height: 30px;
}
nav .log-in {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}
nav .log-in-entry {
  font-size: 1.2rem;
  font-weight: 800;
  color: #000;
}

#drum-showcase {
  display: none;
}

/*Phần thân*/
.body1 {
  margin: 3rem 0 3rem 0;
}

.body1-container {
  display: flex;
  flex-direction: column;
  margin: 0 3em 0 3em;
}
.body1-container .line-hori {
  width: 9rem;
}

.body1-info {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
}

.body1-info {
  margin-bottom: 1em;
}

.body1-info1 {
  font-size: 0.5em;
  font-weight: 800;
}

.body1-info2 {
  font-size: 1em;
  font-weight: 800;
}

.body1-info3 {
  font-size: 0.5em;
  color: var(--yellow-color);
}

.body1-info4 {
  font-size: 0.5em;
  font-weight: 600;
}

.uni-img-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.uni-img {
  width: max(25rem, 50%);
}

.body2 {
  display: none;
}

.body3 {
  margin: 3rem 0 3rem 0;
}

.body3-container {
  display: flex;
  flex-direction: column;
  margin: 0 3em 0 3em;
}

.group-info {
  font-size: 12px;
  line-height: 2.2em;
}

.body3-yellow-headinfo {
  font-size: 1em;
  font-weight: bolder;
  color: var(--yellow-color);
}

.body3-black-bodyinfo {
  font-size: 2em;
  font-weight: bolder;
  width: min(305px, 100%);
  margin: 1rem 0 1rem 0;
}

.body3-black-footinfo {
  font-size: 1em;
  font-weight: 500;
  width: min(350px, 85%);
  margin: 2.5rem 0 2.5rem 0;
}

.see-more {
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: bolder;
}

.line-hori {
  width: 6rem;
}

.yellow-line-hori {
  height: 0.2rem;
  margin: 0 1.1rem 0 1.1rem;
}

.decor {
  display: none;
}

.body3-group {
  margin: 3rem 0 3rem 0;
}

#body3-group2 {
  display: flex;
  justify-content: space-between;
  text-align: right;
}
#body3-group2 .body3-black-bodyinfo, #body3-group2 .body3-black-footinfo {
  margin-left: auto;
}

.footer {
  display: none;
}

.nav-d {
  display: none;
}

@media only screen and (min-width: 425px) {
  .start .DHCQ {
    font-size: 1rem;
  }
  nav li {
    margin: 0 10px;
  }
  nav .log-in {
    padding: 5px 20px 5px 20px;
  }
}
@media only screen and (min-width: 768px) {
  .start .DHCQ {
    font-size: 1.25rem;
  }
  nav li {
    margin: 0 20px;
  }
}
/*Medium Devies*/
@media only screen and (min-width: 1024px) {
  #drum-showcase {
    display: block;
    width: 400px;
    height: 400px;
    mix-blend-mode: color-burn;
    transition: transform 7.5s;
    margin-right: 3rem;
  }
  /* Thêm hiệu ứng xoay khi hover */
  #drum-showcase:hover {
    transform: rotate(360deg);
    overflow: hidden;
  }
  .nav-m, .NEU-m {
    display: none;
  }
  .header-container {
    margin: 0 3rem 0 6rem;
  }
  .start .line-verti {
    display: block;
    height: 5rem;
  }
  .start .NEU-d {
    display: block;
  }
  .uni-img-element {
    justify-content: left;
    margin: 4rem 0 4rem 0;
  }
  .body2 {
    display: block;
    background-color: #E7EDFA;
    margin: 6em 0 6em 0;
  }
  .body1-container, .body3-container {
    margin: 0 6em 0 6em;
  }
  .body1 {
    margin-bottom: 12rem;
  }
  .body1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .body1-group2 {
    display: flex;
    justify-content: right;
  }
  .body2 {
    display: block;
    background-color: #E7EDFA;
    margin: 6em 0 6em 0;
  }
  .body2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 7em 0 7em;
  }
  .body2-top {
    margin-top: 2em;
  }
  .body2-top .body2-top-info {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .body2-mid {
    display: flex;
    flex-direction: row;
  }
  .info-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-element {
    display: flex;
    flex-direction: row;
    margin: 2em;
  }
  .body2-mid-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
  }
  .icon1, .icon2, .icon3 {
    margin: 0 2rem 0 2rem;
  }
  .laurel-left, .laurel-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .laurel-left-img, .laurel-right-img {
    height: 12em;
    margin: 1em;
  }
  .body2-bot {
    margin: 3em;
  }
  .body2-bot-info {
    font-size: 40px;
    font-weight: bolder;
    color: var(--yellow-color);
  }
  #body3-group1, #body3-group3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .body3-group3-right, .body3-group1-right {
    display: flex;
    justify-content: right;
  }
  .decor {
    display: block;
    height: 80%;
  }
  .footer {
    display: block;
    margin-top: 3rem;
    background-color: var(--primary-color);
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 6rem 0 6rem;
    padding: 1.5rem 0 1.5rem 0;
  }
  .footer-info {
    width: min(700px, 80%);
    line-height: 1.75rem;
    font-size: 1.4rem;
    font-weight: 630;
    color: var(--white-color);
  }
  .footer-white-NEU {
    display: flex;
  }
  .white-NEU {
    width: 10rem;
  }
  .nav-d {
    display: block;
  }
  .nav-d li {
    margin-left: 30px;
  }
  .group-info {
    font-size: 14px;
  }
  .body3-black-bodyinfo {
    width: min(430px, 90%);
  }
}
/* Large Devices*/
@media only screen and (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .header-container, .body1-container, .body3-container {
    margin: 0 9rem 0 9rem;
  }
  .group-info {
    font-size: 16px;
  }
  .body3-black-bodyinfo {
    width: min(490px, 85%);
  }
  nav li {
    margin: 0 35px;
  }
}/*# sourceMappingURL=index.css.map */